/* custom css */
/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Raleway:wght@500&display=swap');

h1,h2,h3,h4,h5,h6{
    font-family: 'Cinzel', serif;
}
p{
    font-family: 'Raleway', sans-serif;
}
a{
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    text-decoration: none;
}
#reviewAccordion p{
    color: #000000;
}
body{
    background: linear-gradient(135deg, #005662, #0F3057); 
    color: #ffffff;
}

.card-body img{
    object-fit: cover;
}
.carousel-item img{
    height: 600px;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
  
.carousel-indicators li{
    border: 1px solid black !important;  
}
  
.carousel-indicators li.active {
    background-color: #000000; 
}
.carousel-indicators {
    list-style: none; 
}